@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ff7043;
  --color-primary-light: #ffa270;
  --color-primary-dark: #c63f17;
  --color-secondary: #f4511e;
  --color-secondary-light: #ff844c;
  --color-secondary-dark: #b91400;
}
